<%- include('../sidebar.html') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>robocup2d 新手入门</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- helper.markdown(`
# 前言
2016-05-25  | 第一次更新   
2018-04-11  | 第二次更新

# 资料：
robocup世界杯官网：http://www.robocup.org/

2D联盟：http://wiki.robocup.org/wiki/Soccer_Simulation_League 

平台软件下载：http://sourceforge.net/projects/sserver （官方

科大蓝鹰官网：http://ai.ustc.edu.cn/2d/ （多年的世界第一，全球最先进的资料都在这里）


日本HELIOS官网：http://osdn.jp/projects/rctools/ （全球大多数球队的底层）


中国机器人：http://www.rcccaa.org/ （15国赛公布网站）

知网空间：http://www.cnki.com.cn/Article/CJFDTOTAL-XXWX201103027.htm  （很多专业的期刊）

德克萨斯A&M大学的关于robocup的教程：http://www.cs.utexas.edu/~todd/cs344m/resources/ （很经典，特别是week 5，但是需要英语阅读能力）

http://chaosscripting.net/files/competitions/RoboCup  (历年比赛一些源码录像的收集)


2016年7月16日 增加   
http://www.oxsy.ro/blog/ （Oxsy球队的官网，这位大叔完全自己从零开始搞了15年的2d。是目前唯一一位在职的2d人）    

http://www.prokopenko.net/publications-RoboCup.html  （2016年的世界冠军队伍，悉尼大学的教授搞个人主页）   
http://www.oliverobst.eu（2016年的世界冠军队伍，悉尼大学的教授搞的一只队伍）

2016年11月27日 增加   
http://www.imooc.com/learn/717 (机器学习理论篇)   
2018年4月11日 增加   
大数据挖掘，深度学习等相结合

---------------------



 《人工智能:一种现代方法》
• Peter Norvig / Stuart Russell 人民邮电出版社
• http://book.douban.com/subject/1230487/
 《美丽心灵 A Beautiful Mind》
• 关于20世纪伟大数学家小约翰•福布斯-纳什的人物传
记片。
• http://movie.douban.com/subject/1306029 /

# 技能  
1、深厚的c、c++编程基础    
要求：熟练掌握c的指针机制，c++的STL    
2、机器学习的一些理论知识     
~要求：我们是本科生嘛，懂一点就够了~~  
2018年4月11日 修改    
要求：要有ACM相关基础算法知识，数据挖掘，深度学习等基础知识

# 其它
某些资料：成绩比较好的队伍的历年TDP和论文   
• 独立的发现问题并解决问题   
• 高质量的工程实现   
• 这是重中之重！说的天花乱坠，最重要的还是要落实
到代码上去！   
• 理论思维和实践思维之间偏重实践思维

`) %>
      </div>
    </div>
  </div>
</div>

